header {
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../assets/heroThanos.jpg) no-repeat fixed;
	// background: #9370DB;
	background-size: cover;
	display: flex;
	height: 100vh;
	max-width: 100%;
}

.heroTitle {
  align-items: center;
  display: flex;
	flex-direction: column;
	padding-left: 25%;
  padding-top: 30%;
  text-align: right;
}

.heroText p {
  color: #FFFFFF;
  font-size: 1.2rem;
	letter-spacing: 5px;
	text-shadow: 3px 3px 5px #000000;
}